.loader_wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    min-height: 100px;
    padding: 20px 0px;
    width: 100%;

    & svg {
        stroke: var(--main-color);
    }
}
