@font-face {
    font-family: Roboto Flex;
    src: url(../fonts/RobotoFlex.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
    font-stretch: 500% 150%;
}

@font-face {
    font-family: Roboto Flex Latin;
    src: url(../fonts/RobotoFlexLatin.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
    font-stretch: 500% 150%;
}
