:root {
    --main-color: #0c51d1;
    --main-text-color: #1e1e1e;
    --inverse-text-color: #fff;
    --light-text-color: #727c95;
    --decorative-line-color: #6f836e66;
    --box-shadow: 0 4px 32px 0 #00103d1f;
    --transition-time: 0.3s;
    --hover-main-color: #163f98;

    --swiper-theme-color: #007aff;
}
