.header_nav {
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    align-items: center;

    &__list {
        display: flex;
    }

    &__link {
        cursor: pointer;
        display: block;
        overflow: hidden;
        padding: 16px 8px;
        position: relative;
    }

    &__link::before {
        content: '';
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: var(--main-color);
        transition:
            transform var(--transition-time) ease,
            opacity 0ms ease var(--transition-time);
        transition:
            transform ease var(var(--transition-time), var(--transition-time)),
            opacity ease 0ms var(--transition-time);
        transform: translateX(100%);
        opacity: 0;
    }

    &__link_active:before {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (hover: hover) {
    .header_nav__link:hover:before {
        transform: translateX(0);
        opacity: 1;
    }

    .header_nav__link:hover ~ .header_nav__link:before {
        transform: translateX(-100%);
    }

    .header_nav:hover .header_nav__link:hover:before {
        transition-delay: 0ms, 0ms;
    }
}

@media (max-width: 1200px) {
    .header_nav__list {
        display: none;
    }
}
