.form_send_button {
    background-color: var(--main-color);
    border-radius: 48px;
    border: none;
    color: var(--inverse-text-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    padding: 12px;
    position: relative;
    transition: all ease var(--transition-time);
    width: 100%;
    z-index: 2;
}

@media (hover: hover) {
    .form_send_button:hover {
        background-color: var(--hover-main-color);
    }
}
