.form_field {
    cursor: pointer;

    &__input {
        background-color: transparent;
        border-radius: 40px;
        border: 1px solid var(--decorative-line-color);
        color: var(--main-text-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        outline: none;
        padding: 11px 16px;
        position: relative;
        text-align: left;
        transition: border ease var(--transition-time);
        width: 100%;
    }

    &__input::placeholder {
        color: var(--light-text-color);
    }
}

@media (hover: hover) {
    .form_field:hover .form_field__input {
        border: 1px solid var(--main-text-color);
    }
}
