.footer {
    color: var(--light-text-color);
    font-size: 16px;
    position: relative;
    top: -30px;

    &__inner {
        border-top: 1px solid var(--decorative-line-color);
        display: flex;
        flex-direction: column;
    }
}

.footer__inner > article:not(:first-child) {
    border-top: 1px solid var(--decorative-line-color);
}
